.featured-section {
  background: $main-black;
}

.featured-header {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 32px auto;
}

.featured-title {
  font-family: $logo-font;
  font-size: 64px;
  font-weight: 700;
  color: $main-white;
  line-height: 100%;
  letter-spacing: 0;
  margin-bottom: 30px;

  span {
    color: $main-red;
  }
}

.featured-desc {
  font-family: $logo-font;
  font-size: 16px;
  font-weight: 400;
  color: $main-white;
  opacity: 0.85;
  line-height: 1.5;
  max-width: 600px;
  margin: 0 auto;
}

.featured-content {
  background-color: $main-black;
}

.featured-item {
  font-family: $logo-font;
  font-weight: 600;
  color: #444;
  margin-bottom: 32px;
  cursor: pointer;
  transition: color 0.2s;

  // Efeitos de hover e active combinados
  &:hover,
  &.active {
    color: $main-red;
    .featured-item-type {
      color: $main-white;
    }
    .featured-item-underline {
      background: $main-white;
    }
  }
}

.featured-item-title {
  display: block;
  font-family: $logo-font;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 16px;
}

.featured-item-type {
  display: block;
  font-family: $logo-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  color: #888;
  margin-bottom: 8px;
}

.featured-item-underline {
  display: block;
  width: 120px;
  height: 2px;
  background: #444;
  margin-top: 4px;
  transition: background-color 0.2s;
}

.featured-image {
  background: $main-black;
}

.featured-image img {
  width: 100%;
  border-radius: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 99 / 59;
  object-fit: cover;
}
