.whyus-section {
  background: $main-gray;
}
.whyus-content {
}
.whyus-left {
  text-align: left;
  min-width: 340px;
  margin-bottom: 0;
}

.whyus-title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 64px;
  font-weight: 700;
  color: $main-white;
  line-height: 100%;
  letter-spacing: 0;
  margin-bottom: 16px;
}
.whyus-title span {
  color: $main-red;
  font-weight: 700;
}
.whyus-desc {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $main-white;
  line-height: 1.5;
  letter-spacing: 0;
  vertical-align: middle;
  margin-bottom: 0;
  max-width: 500px;
}

.whyus-stat {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: $main-white;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}
.whyus-label {
  background: #111111;
  padding: 10px 8px;
  border-radius: 30px;
  font-size: 16px;
}

.whyus-number {
  font-family: "Inter", Arial, sans-serif;
  font-size: 56px;
  font-weight: 700;
  color: $main-red;
  margin: 0;
}
